@charset "utf-8";

.github {
	text-align: center;
	transition: all .5s;
	padding: 4rem 0;

	&__link {

		&:visited, &:link {
			color: black;
			font-size: 3rem;
			text-decoration: none;
		}
	}

	svg {
		height: 8rem;
		fill: black;
		transition: all .5s;
	}

	&:hover {
		background-color: black;
		color: white;
		svg {
			fill: white;
		}

		a {
			color: white;
		}
	}

	span {
		margin-right: 2rem;
	}
}
