@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html {
  font-size: 62.5%; }
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif; }
ul, li {
  list-style-type: none;
  list-style: none; }
[class*="icon-"] svg {
  height: 24px;
  height: 2.4rem; }
@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-20px);
            transform: scale(0.9, 1.1) translateY(-20px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-20px);
            transform: scale(0.9, 1.1) translateY(-20px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-6px);
            transform: scale(1, 1) translateY(-6px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-6px);
            transform: scale(1, 1) translateY(-6px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-4 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
            transform: scale(1, 1) translateY(-8px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-4 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
            transform: scale(1, 1) translateY(-8px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-5 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-10px);
            transform: scale(1, 1) translateY(-10px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-5 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-10px);
            transform: scale(1, 1) translateY(-10px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
.icons {
  cursor: pointer; }
.icons:not(:last-child) {
    margin-bottom: 30px;
    margin-bottom: 3rem; }
.icons__icon {
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    vertical-align: middle; }
.icons__icon.animated {
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
              animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1); }
.icons:nth-child(1) span:first-child::before {
    content: "24px";
    margin-right: 20px;
    margin-right: 2rem;
    font-size: 24px;
    font-size: 2.4rem; }
.icons:nth-child(1) .icons__icon {
    vertical-align: middle;
    font-size: 24px;
    font-size: 2.4rem; }
.icons:nth-child(1) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(1) .icons__icon svg {
      height: 24px;
      height: 2.4rem; }
.icons:nth-child(1) .icons__icon:hover {
      fill: #b13030; }
.icons:nth-child(1) .icons__icon.animated {
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1; }
.icons:nth-child(2) span:first-child::before {
    content: "48px";
    margin-right: 20px;
    margin-right: 2rem;
    font-size: 48px;
    font-size: 4.8rem; }
.icons:nth-child(2) .icons__icon {
    vertical-align: middle;
    font-size: 48px;
    font-size: 4.8rem; }
.icons:nth-child(2) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(2) .icons__icon svg {
      height: 48px;
      height: 4.8rem; }
.icons:nth-child(2) .icons__icon:hover {
      fill: #e41f4c; }
.icons:nth-child(2) .icons__icon.animated {
    -webkit-animation-name: bounce-2;
            animation-name: bounce-2; }
.icons:nth-child(3) span:first-child::before {
    content: "72px";
    margin-right: 20px;
    margin-right: 2rem;
    font-size: 72px;
    font-size: 7.2rem; }
.icons:nth-child(3) .icons__icon {
    vertical-align: middle;
    font-size: 72px;
    font-size: 7.2rem; }
.icons:nth-child(3) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(3) .icons__icon svg {
      height: 72px;
      height: 7.2rem; }
.icons:nth-child(3) .icons__icon:hover {
      fill: #ffa071; }
.icons:nth-child(3) .icons__icon.animated {
    -webkit-animation-name: bounce-3;
            animation-name: bounce-3; }
.icons:nth-child(4) span:first-child::before {
    content: "96px";
    margin-right: 20px;
    margin-right: 2rem;
    font-size: 96px;
    font-size: 9.6rem; }
.icons:nth-child(4) .icons__icon {
    vertical-align: middle;
    font-size: 96px;
    font-size: 9.6rem; }
.icons:nth-child(4) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(4) .icons__icon svg {
      height: 96px;
      height: 9.6rem; }
.icons:nth-child(4) .icons__icon:hover {
      fill: #ffba00; }
.icons:nth-child(4) .icons__icon.animated {
    -webkit-animation-name: bounce-4;
            animation-name: bounce-4; }
.icons:nth-child(5) span:first-child::before {
    content: "120px";
    margin-right: 20px;
    margin-right: 2rem;
    font-size: 120px;
    font-size: 12rem; }
.icons:nth-child(5) .icons__icon {
    vertical-align: middle;
    font-size: 120px;
    font-size: 12rem; }
.icons:nth-child(5) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(5) .icons__icon svg {
      height: 120px;
      height: 12rem; }
.icons:nth-child(5) .icons__icon:hover {
      fill: #ff9e9e; }
.icons:nth-child(5) .icons__icon.animated {
    -webkit-animation-name: bounce-5;
            animation-name: bounce-5; }
.icons-container {
  padding: 20px;
  padding: 2rem; }
