@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html {
  font-size: 62.5%; }
ul, li {
  list-style-type: none;
  list-style: none; }
[class*="icon-"] svg {
  height: 24px;
  height: 2.4rem; }
header, main, footer {
  display: block;
  max-width: 1440px;
  max-width: 144rem;
  margin: 0 auto; }
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif; }
@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-20px);
            transform: scale(0.9, 1.1) translateY(-20px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-20px);
            transform: scale(0.9, 1.1) translateY(-20px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-6px);
            transform: scale(1, 1) translateY(-6px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-6px);
            transform: scale(1, 1) translateY(-6px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-4 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
            transform: scale(1, 1) translateY(-8px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-4 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
            transform: scale(1, 1) translateY(-8px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@-webkit-keyframes bounce-5 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-10px);
            transform: scale(1, 1) translateY(-10px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
@keyframes bounce-5 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0); }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px); }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0); }
  57% {
    -webkit-transform: scale(1, 1) translateY(-10px);
            transform: scale(1, 1) translateY(-10px); }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0); } }
.description {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 20px;
  padding: 2rem;
  color: #155724;
  background-color: #d4edda;
  border-bottom: 1px solid #c3e6cb;
  -webkit-box-shadow: 0 0px 10px lightgray;
          box-shadow: 0 0px 10px lightgray; }
.description a:link, .description a:visited {
    color: black; }
.github {
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 40px 0;
  padding: 4rem 0; }
.github__link:visited, .github__link:link {
    color: black;
    font-size: 30px;
    font-size: 3rem;
    text-decoration: none; }
.github svg {
    height: 80px;
    height: 8rem;
    fill: black;
    -webkit-transition: all .5s;
    transition: all .5s; }
.github:hover {
    background-color: black;
    color: white; }
.github:hover svg {
      fill: white; }
.github:hover a {
      color: white; }
.github span {
    margin-right: 20px;
    margin-right: 2rem; }
.icons {
  text-align: center;
  cursor: pointer; }
.icons:not(:last-child) {
    margin-bottom: 40px;
    margin-bottom: 4rem; }
.icons__heading--1 {
    margin-bottom: 20px;
    margin-bottom: 2rem; }
.icons__icon {
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    vertical-align: middle; }
.icons__icon.animated {
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
              animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1); }
.icons:nth-child(1) .icons__heading--1::before {
    content: "24px";
    font-size: 24px;
    font-size: 2.4rem; }
.icons:nth-child(1) .icons__icon {
    vertical-align: middle;
    font-size: 24px;
    font-size: 2.4rem; }
.icons:nth-child(1) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(1) .icons__icon svg {
      height: 24px;
      height: 2.4rem;
      fill: black; }
.icons:nth-child(1) .icons__icon:hover svg {
      fill: #b13030; }
.icons:nth-child(1) .icons__icon.animated {
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1; }
.icons:nth-child(2) .icons__heading--1::before {
    content: "48px";
    font-size: 48px;
    font-size: 4.8rem; }
.icons:nth-child(2) .icons__icon {
    vertical-align: middle;
    font-size: 48px;
    font-size: 4.8rem; }
.icons:nth-child(2) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(2) .icons__icon svg {
      height: 48px;
      height: 4.8rem;
      fill: black; }
.icons:nth-child(2) .icons__icon:hover svg {
      fill: #e41f4c; }
.icons:nth-child(2) .icons__icon.animated {
    -webkit-animation-name: bounce-2;
            animation-name: bounce-2; }
.icons:nth-child(3) .icons__heading--1::before {
    content: "72px";
    font-size: 72px;
    font-size: 7.2rem; }
.icons:nth-child(3) .icons__icon {
    vertical-align: middle;
    font-size: 72px;
    font-size: 7.2rem; }
.icons:nth-child(3) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(3) .icons__icon svg {
      height: 72px;
      height: 7.2rem;
      fill: black; }
.icons:nth-child(3) .icons__icon:hover svg {
      fill: #ffa071; }
.icons:nth-child(3) .icons__icon.animated {
    -webkit-animation-name: bounce-3;
            animation-name: bounce-3; }
.icons:nth-child(4) .icons__heading--1::before {
    content: "96px";
    font-size: 96px;
    font-size: 9.6rem; }
.icons:nth-child(4) .icons__icon {
    vertical-align: middle;
    font-size: 96px;
    font-size: 9.6rem; }
.icons:nth-child(4) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(4) .icons__icon svg {
      height: 96px;
      height: 9.6rem;
      fill: black; }
.icons:nth-child(4) .icons__icon:hover svg {
      fill: #ffba00; }
.icons:nth-child(4) .icons__icon.animated {
    -webkit-animation-name: bounce-4;
            animation-name: bounce-4; }
.icons:nth-child(5) .icons__heading--1::before {
    content: "120px";
    font-size: 120px;
    font-size: 12rem; }
.icons:nth-child(5) .icons__icon {
    vertical-align: middle;
    font-size: 120px;
    font-size: 12rem; }
.icons:nth-child(5) .icons__icon:not(:last-child) {
      margin-right: 20px;
      margin-right: 2rem; }
.icons:nth-child(5) .icons__icon svg {
      height: 120px;
      height: 12rem;
      fill: black; }
.icons:nth-child(5) .icons__icon:hover svg {
      fill: #ff9e9e; }
.icons:nth-child(5) .icons__icon.animated {
    -webkit-animation-name: bounce-5;
            animation-name: bounce-5; }
.icons-container {
  padding: 20px;
  padding: 2rem; }
