@charset "utf-8";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

ul, li {
	list-style-type: none;
	list-style: none;
}

[class*="icon-"] {

	svg {
		height: 2.4rem;
	}
}
